[submodule "activity.fbs"]
	path = activity.fbs
	url = git://github.com/adsharma/activity.fbs
[submodule "raft.fbs"]
	path = raft.fbs
	url = git://github.com/adsharma/raft.fbs
[submodule "tdlib.fbs"]
	path = tdlib.fbs
	url = https://github.com/adsharma/tdlib.fbs
